.new {
  width: 100%;
  display: flex;

  .newContainer {
    flex: 6;
  }

  .containerBody {

    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .bottom {
      padding: 20px 0px;
      width: 80%;
      overflow: hidden;
      border-radius: 10px;
      border: 2px solid #EEEEEE;

      h1 {
        color: lightgray;
        font-size: 20px;
      }

      .imageContainer{
        text-align: center;
        .uploadLink {
          top: 175px;
          width: 150px;
          color: blueviolet;
          background: rgba(0, 0, 0, 0.5);
          color: white;
          margin: 0 auto;
        }
        img {
          width: 150px;
          height: 200px;
          cursor: pointer;
        }
      }



      form {
        .formLabel{
          font-size: 2.3em;
          justify-content: center;
          display: flex;
          margin: 0 0 60px 0;
          font-weight: bold;
          cursor: pointer;
          transition: .5s ease-in-out;
        }

        .formInput {


          input{
            width: 60%;
            height: 20px;
            background: #e0dede;
            justify-content: center;
            display: flex;
            margin: 20px auto;
            padding: 10px;
            border: none;
            outline: none;
            border-radius: 5px;
          }
        }

        button{
          width: 100px;
          height: 40px;
          margin: 10px auto;
          justify-content: center;
          display: block;
          color: #fff;
          background: #573b8a;
          font-size: 1em;
          font-weight: bold;
          margin-top: 20px;
          outline: none;
          border: none;
          border-radius: 5px;
          transition: .2s ease-in;
          cursor: pointer;

          &:disabled{
            background-color: rgba(3, 92, 92, 0.322);
            cursor: not-allowed;
          }
        }

      }
    }
  }
}

.currencyContainer {
  display: inline-flex;
  vertical-align: top;
}
